pip
selenium
setuptools
urllib3
Appium-Python-Client
requests
PyYAML
PyMySQL
pytest-html
pytest-allure-adaptor
pytest-rerunfailures
pytest-cache
pytest-ordering
pytest-sugar
pytest-xdist
pytest-picked
pytest-tldr
pytest-django
pytest-selenium
pytest-cov
